.Dice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: solid 0.3rem gray;
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 1rem auto;

    flex-wrap: wrap;
    align-content: center;
}