.Die {
    background-color: slateblue;
    color: white;
    width: 7rem;
    height: 7rem;
    border-radius: 10%;
    
    text-align: center;
    font-weight: bold;
    font-size: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    margin: 1.5rem;
}